<?xml version="1.0" encoding="UTF-8"?>
<plugin name="XMLmind DITA Converter Manual" id="com.xmlmind.ditac.manual"
        version="2.2.3"
        provider-name="XMLmind">
   <extension point="org.eclipse.help.toc">
      <toc file="toc.xml" primary="true"/>
   </extension>
   <extension point="org.eclipse.help.index">
      <index file="index.xml"/>
   </extension>
</plugin>