<plugin id="com.citrix.qa">
<!-- This file is part of the com.citrix.qa project hosted on 
     Sourceforge.net.-->
<!-- (c) Copyright Citrix Systems, Inc. All Rights Reserved. -->
<feature extension="dita.conductor.transtype.check" value="qa" type="txt"/>
<feature extension="dita.conductor.target.relative" value="build_qa.xml" type="file"/>
</plugin>