<?xml version="1.0" encoding="UTF-8"?>

<plugin id="com.qwcode.dita.ot.plugins.ancestors">

  <feature extension="dita.xsl.maplink"
      value="src/dita.xsl.maplink.xsl" type="file"/>

  <feature extension="dita.xsl.xhtml"
      value="src/dita.xsl.xhtml.xsl" type="file"/>

  <feature extension="dita.conductor.xhtml.param"
      value="src/dita.conductor.xhtml.param.xml" type="file"/>

  <feature extension="dita.conductor.target" 
  	  value="src/dita.conductor.target.xml" type="file"/>
  
  <feature extension="dita.preprocess.maplink.param" 
  	  value="src/dita.preprocess.maplink.param.xml" type="file"/>
  
         
           
</plugin>