<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is part of the DITA Open Toolkit project hosted on 
     Sourceforge.net. See the accompanying license.txt file in the
     main toolkit package for applicable licenses.-->
<!-- (C) Copyright IBM Corporation 2006 All Rights Reserved. -->

<!-- 
     This is the plugin file that controls integration into the toolkit.
     Each item in the plugin that extends a toolkit function must be listed
     here. The only critical component is the catalog file, which must 
     extend the Toolkit's catalog in order for your files to be processed.

     If nothing else is overridden, then the toolkit will use fallback processing.
     This plugin file demonstrates how to imbed an override for XHTML formatting,
     so that not every element will use fallback processing.

     Be sure to change the plugin ID to use your own specialization name.

     NOTE: paths in this file are relative to the current directory
           (the same directory that includes this file).
-->

<plugin id="jqmdot">
  <!-- Include support name and email -->
  <feature extension="package.support.name" value="Patrick A Quinlan"/>

  <!-- Provide a version (default is 1.0 if not specified) -->
  <feature extension="package.version" value="0.1"/>

  <!-- specify a transtype -->
   <feature extension="dita.conductor.transtype.check" value="jqmobile" type="txt"/>

<!-- specify a build file -->
  <feature extension="dita.conductor.target.relative" value="build_xhtml_jqmobile.xml" type="file"/>


</plugin>
