<?xml version="1.0" encoding="UTF-8"?>
<!--
    
Oxygen Webhelp plugin
Copyright (c) 1998-2014 Syncro Soft SRL, Romania.  All rights reserved.
Licensed under the terms stated in the license file EULA_Webhelp.txt 
available in the base directory of this Oxygen Webhelp plugin.

-->

<plugin id="com.oxygenxml.dita-ot.plugin.webhelp">
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  <feature extension="package.version" value="1.0.0"/>
  
  <feature extension="dita.conductor.transtype.check" value="webhelp" type="txt"/>
  <feature extension="dita.conductor.transtype.check" value="webhelp-mobile" type="txt"/>
  <feature extension="dita.conductor.transtype.check" value="webhelp-feedback" type="txt"/>
  <feature extension="dita.conductor.transtype.check" value="webhelp-feedback-mobile" type="txt"/>
  
  <feature extension="dita.conductor.target.relative" value="integrator.xml" type="file"/>
  <feature extension="dita.xsl.maplink" value="xsl/dita/nextPrevFullIteration.xsl" type="file"/>  
  <feature extension="dita.preprocess.topicpull.param" value="insertParameters.xml" type="file"/>
  <feature extension="dita.conductor.html.param" value="insertParameters.xml" type="file"/>
  <feature extension="dita.conductor.xhtml.param" value="insertParameters.xml" type="file"/> 
  <feature extension="dita.xsl.strings" file="oxygen-webhelp/resources/localization/strings.xml"/>
</plugin>
