#page-header {
    background-color: #90D1F7;
    background-image: url(header_footer_files/top_gradient.png);
    background-repeat: repeat-x;
    background-position: top left;
    padding-top: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-bottom: 0.5ex;
    margin: 0;
}

#page-header-title {
    text-align: center;
    color: #484850;
    font-size: 200%;
    font-weight: bold;
}

#page-footer {
    color: gray;
    font-size: 85%;
    font-style: italic;
    padding: 0.5ex;
    margin: 0;
}