body {
	font-family: Play, "Helvetica Neue", Arial, sans-serif;
	font-size: medium;
	background-color: white;
}

p.copyright_footer {
	font-size:small;
	border-top: solid black 1px;
}

h1 {
	color: #03405F;
	font-size: larger;
	font-weight:bold;
}